distlib==0.3.6
filelock==3.8.0
numpy==1.23.3
opencv-python==4.6.0.66
platformdirs==2.5.2
pywatchman==1.4.1
virtualenv==20.16.5

pip~=22.2.2
wheel~=0.37.1
utils~=1.0.1
Jinja2~=3.1.2
MarkupSafe~=2.1.1
Werkzeug~=2.2.2
click~=8.1.3
itsdangerous~=2.1.2
setuptools~=60.2.0
packaging~=21.3
pyparsing~=3.0.9
zipp~=3.8.1
Flask~=2.2.2